<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learnadroid.myfirstapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/b"
        android:label="Quản lý tài chính cá nhân"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".register" />
        <activity android:name=".quanlytaikhoan" />
        <activity
            android:name=".menu"
            android:label="Trang chủ"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".quanlythu"
            android:label="Quản lý thu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".taikhoan"
            android:label="Tài khoản"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".quanlychi"
            android:label="Quản lý chi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".baocaothuAccount"
            android:label="Báo cáo tài khoản"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".thuchi"
            android:label="@string/title_activity_thuchi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity_Danhsachthu"
            android:label="Danh sách thu tiền"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Danhmucchi"
            android:label="Danh sách chi tiền"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".baocao"
            android:label="Báo cáo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mainbaocao"
            android:label="Báo cáo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tracutygia"
            android:label="Tra cứu tỷ giá"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".datetime"
            android:label="@string/title_activity_datetime"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".hangmucdatetime"
            android:label="Báo cáo theo ngày"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>